node_modules/
npm-debug.log
yarn-error.log
package-lock.json
yarn.lock
.DS_Store
.env
.env.local
.env.*.local

# Archivos de compilación y caché
build/
dist/
.cache/
.next/
out/

# Archivos de logs
logs/
*.log

# Archivos del editor
.vscode/
.idea/
*.swp
*.swo

# Dependencias de PNPM
.pnpm-store/

# Otros
.npm/
.eslintcache
.parcel-cache/
*.tsbuildinfo
