<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title %></title>
    <%- include('partials/head') %>
  </head>
  <body>
    <%- include('partials/navigation') %>
    <h1>Bot, en proceso</h1>
    <marco flotante permitir="micrófono;" ancho="350" altura="430"
      src="https://console.dialogflow.com/api-client/demo/embedded/cd95d3c0-d294-48ac-b75a-72caf5f70c87">
      </iframe>
  <script src="https://www.gstatic.com/dialogflow-console/fast/messenger/bootstrap.js?v=1"></script>
  <df-messenger intent="WELCOME" chat-title="FuncDigit" agent-id="cd95d3c0-d294-48ac-b75a-72caf5f70c87"
    language-code="es"></df-messenger>
  </body>
</html>
